<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>AR.js Marker Training</title>
    <link rel='stylesheet' type='text/css' href='../css/generator.css' />
    <script src='../js/threex-arpatternfile.js'></script>
    <script src='../js/generator.js'></script>
</head>
<body>
    <div id='main-app-container'>
        <div id='upload-container'>
            <label id='buttonUpload' for='fileinput'>
                <input type='file' id='fileinput' style='display: none'>
                Upload
            </label>
            <div class='mdl-tooltip' for='buttonUpload'>
                Upload the image to put inside the marker
            </div>
        </div>
        <div id='download-container'>
            <button id='buttonDownloadEncoded' class='download-marker-button'>
                Download Marker
            </button>
            <div class='mdl-tooltip' for='buttonDownloadEncoded'>
                Download marker encoded from the uploaded image
            </div>
            <button id='buttonDownloadFullImage' class='download-marker-button'>
                Download Image
            </button>
            <div class='mdl-tooltip' for='buttonDownloadFullImage'>
                Download marker image
            </div>
        </div>
    </div>
    <div id='imageContainer'>
    </div>
</body>
</html>