<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>cARd | remote v. 0.3.0</title>
    <link rel='stylesheet' href='../css/remote.css' type="text/css" />
    <script src='../js/socket.io.js'></script>
    <script src='../js/jquery-3.2.1.min.js'></script>
    <script>
        var sessionManager = {
            application: {
                focus: 0,
                channels: [
                    'instruction-bottom-line',
                    'main-title',
                    'instruction-top-line',
                    'main-app-container'
                ],
                fullscreen: false,
                menuVisible: false,
                helpVisible: false,
                streamStarted: false,
                page: '', //=home, 1=team, 2=cARd, 3=shop
                format: 0, //=flat, 1=vr, 2=ar
                std: {
                    handler: true,
                    wallVisible: false,
                },
                siteLoaded: false,
                roomPreviewVisible: false
            },
            socket: null
        };
        
        function requestFullScreen(element) { //    makes the application fullscreen on fullscreen equipped browsers
            var requestMethod = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || element.msRequestFullScreen; // Supports most browsers and their versions.

            if (requestMethod) { // Native full screen.
                requestMethod.call(element);
            } else if (typeof window.ActiveXObject !== "undefined") { // Older IE.
                var wscript = new ActiveXObject("WScript.Shell");
                if (wscript !== null) {
                    wscript.SendKeys("{F11}");
                }
            }
        }
          
        function startupSiteUI(){
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth();
            var yyyy = today.getFullYear();
            
            var n = today.getDay();
            
            var dateDictionary = [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Oct',
                'Nov',
                'Dec'
            ];
            
            var dayDictionary = ['Sun.', 'Mon.', 'Tues.', 'Wed.', 'Thurs.', 'Fri.', 'Sat.'];
            
/*            if(dd<10) {
                dd = '0'+dd;
            } 

            if(mm<10) {
                mm = '0'+mm;
            } */

            today = dayDictionary[n] + ' ' + dateDictionary[mm] + ' ' + dd;
            
            $('#menu-button, #help-button').delay(4000).animate({
                opacity: 1.0
            }, 1000, function(){

            });
            
            setTimeout(function(){
                $('.acronym-trim').animate({
                    opacity: 0
                }, 1000);
                
                setTimeout(function(){
                    $('#main-title').animate({
                        opacity: 0
                    }, 1000, function(){
                        $('#main-title').css({
                            width: '50px'
                        }).text('cARd').animate({
                            opacity: 1.0
                        }, 500);

                        $('#date-label').empty().append(today);
                        $('#year-label').empty().append(yyyy);
                        $('.entry-instruction, #date-label, #year-label').animate({
                            opacity: 1.0
                        }, 1000);
                    });
                }, 3000);
                
            }, 4000);
        }
        
        function loadSite(){
            
            $('#main-title-wrapper').animate({
                opacity: 0
            }, 2000, function(){
                $(this).hide();
            });
            
            $('#main-app-container').removeClass('anticipating');
            
            $('#main-app-container').off('click');
            
            sessionManager.application.focus = 1;
            
            $('#remote-overlay').show().animate({
                opacity: 1.0,
                height: '100%'
            }, 1500);
                        
            $('#loading-bar').animate({
                width: '100%'
            }, 2500, function(){
                $('#ready-label').animate({
                    opacity: 1.0
                }, 500, function(){
                        $('.loaders').hide();
                        $('#wall-header-container').show();
                        $('#wall').show().animate({
                            opacity: 1.0
                        }, 1500, function(){
                            
                            sessionManager.application.siteLoaded = true;
                        });
                });
            });
        }
        
    
        var roster = {
            vb: {
                name: 'vaibhav ponnuri',
                titles: 'chief manufacturing officer, president',
                summary: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><p class="umd-class-footer">umd \'18 B.S. mathematics</p>'
            },
            pamo: {
                name: 'patrice-morgan ongoly',
                titles: 'chief executive officer, chairman',
                summary: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><p class="umd-class-footer">umd \'20 B.S. mathematics</p>'
            },
            mcg: {
                name: 'andrew mcgillicudy',
                titles: 'chief operating officer',
                summary: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><p class="umd-class-footer">umd \'18 B.S. computer science</p>'
            },
            noah: {
                name: 'noah dagne',
                titles: 'xr engineer, immersive design',
                summary: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><p class="umd-class-footer">umd \'19 B.S. computer science</p>'
            },
            naveen: {
                name: 'naveen pattasseril',
                titles: 'treasurer',
                summary: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><p class="umd-class-footer">umd \'20 B.A. business</p>'
            },
            jeff: {
                name: 'jeffrey mercedes',
                titles: 'xr engineer, ipresident',
                summary: '<p>| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><p class="umd-class-footer">UMD \'19 B.S. Mathematics</p>'
            },
            cameron: {
                name: 'cameron reed',
                titles: 'xr engineer, immersive design',
                summary: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><p class="umd-class-footer">umd \'20 B.S. computer engineering</p>'
            },
            brian: {
                name: 'brian nguyen',
                titles: 'xr engineer, immersive architecture',
                summary: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><p class="umd-class-footer">UMD \'20 B.A. business</p>'
            }
        };
            
        document.addEventListener('DOMContentLoaded', function(){
            sessionManager.socket = io.connect(location.host);
            sessionManager.socket.emit('identify', {
                manufacturer: 'House of Venus, Benefit Corporation',
                author: 'Patrice-Morgan Ongoly',
                source: {
                    device: 'rfid',
                    product: 'cARd',
                    tapin: new Date().getTime()
                }
            });
            
            startupSiteUI();
                    
            $('.menu-option').click(function(){
                var dir = ['flat', 'vr', 'ar'];
                var id = $(this).attr('id');
                id = id.substring(0, id.indexOf('-'));
                console.log(`selected ${id} format`);
                var current = sessionManager.application.format;
                
                var opt = dir.indexOf(id);
                
                if(opt==current){
                    console.log('already set');
                }
                else{                    
                    $(`#${dir[current]}-option-button`).animate({
                        opacity: 0
                    }, 250, function(){
                        $(this).removeClass('selected-option').animate({
                            opacity: 1.0
                        });
                    });
                    
                    sessionManager.application.format = opt;
                    
                    $(`#${id}-option-button`).animate({
                        opacity: 0
                    }, 250, function(){
                        $(this).addClass('selected-option').animate({
                            opacity: 1.0
                        }, 1000, function(){
                            if(id=='vr'){
                                console.log('transitioning to vr page');
                                setTimeout(function(){
                                    window.location.href = './vr';
                                }, 1000);
                            }
                            else if(id=='ar'){
                                console.log('transitioning to ar page');
                                setTimeout(function(){
                                    window.location.href = './ar';
                                }, 1000);
                            }
                        });
                    });
                }
            });
            
            $('#menu-button').click(function(){
                var visible = sessionManager.application.menuVisible;
                var menu = $('#menu-button');
                if(visible){
                    $('.menu-option').animate({
                        opacity: 0
                    }, 1000, function(){
                        $(this).hide();
                    });
                    
                    menu.removeClass('selected');
                    menu.val('+');
                }
                else{
                    $('.menu-option').show().animate({
                        opacity: 0.8
                    }, 1000);
                    
                    menu.addClass('selected');
                    menu.val('-');
                }
                
                sessionManager.application.menuVisible = !visible;
            });
            
            $('#help-button').click(function(){
                console.log('TODO: add help menu');
            });
            
            $('#main-app-container').click(function(event){
                var target = event.target.getAttribute('id')
                var pos = sessionManager.application.channels.indexOf(target);
                if(pos>-1){
                    //console.log(`event initiated by ${target}`);
                    
                    if(sessionManager.application.focus==0){
            
                        $('body, html').css({
                            backgroundColor: 'rgba(0, 0, 0, 1)', //#ffc8e1' | #ff0081 | #ff8888
                        });
                        
                        if(!sessionManager.application.fullscreen){
                            var elem = document.body;
                            requestFullScreen(elem);
                            sessionManager.application.fullscreen = true;
                        }
                        loadSite();
                    }
                }
                else{
                    console.log('not an acceptable channel');
                }
            });

            var toggleOn = false;
            
            function gotDevices(deviceInfos) {
                var videoSelect = document.getElementById('videoSource');
                for (var i = 0; i !== deviceInfos.length; ++i) {
                    var deviceInfo = deviceInfos[i];
                    var option = document.createElement('option');
                    option.value = deviceInfo.deviceId;

                    console.log('['+i+'] '+deviceInfo.kind);

                    if (deviceInfo.kind === 'videoinput') {
                        option.text = deviceInfo.label || 'camera ' + (videoSelect.length + 1);
                        videoSelect.appendChild(option);
                    }
                    else {
                       // console.log('Found one other kind of source/device: ', deviceInfo);
                    }
                }
            }

            function getStream() {
                var videoSelect = document.getElementById('videoSource');
                //console.log(videoSelect.value);

                if (window.stream) {
                   // console.log('stream flowing my guy!!!');
                    window.stream.getTracks().forEach(function(track) {
                        track.stop();
                    });
                }

                var constraints = {
                    video: {
                        deviceId: {exact: videoSelect.value}
                    }
                };

                navigator.mediaDevices.getUserMedia(constraints).then(gotStream).catch(handleError);
            }

            function gotStream(stream) {
                window.stream = stream; // make stream available to console
                video.srcObject = stream;
                video.play();
                sessionManager.application.streamStarted = true;
                console.log('stream started...');
            }

            function handleError(error) {
                console.log('Error: ', error);
            }
            var tv = {
                viewRemote: function(){
                    $('#view-remote').animate({
                        opacity: 0
                    }, 1000, function(){
                        $(this).hide();
                    });
                    var currentChannel = sessionManager.application.page;
                    switch(currentChannel){
                        case 'postAR':
                        case 'cARd':
                            var video = document.getElementById('video');
                            video.pause();
                            $('#camera-overlay').animate({
                                height: 0
                            }, 1000, function(){
                                $(this).hide();
                                 sessionManager.application.page = '';
                            });
                            break;
                        case 'pARk':
                            $('#media-overlay').animate({
                                height: 0
                            }, 1000, function(){
                                $(this).hide();
                            });
                            
                            $('#pARk-page').animate({
                                opacity: 0
                            }, 500, function(){
                                $(this).hide();
                            });
                            break;
                        case 'share':
                            $('#media-overlay').animate({
                                height: 0
                            }, 1000, function(){
                                $(this).hide();
                            });
                            
                            $('#share-page').animate({
                                opacity: 0
                            }, 500, function(){
                                $(this).hide();
                            });
                            break;
                        case 'hov':
                            $('#media-overlay').animate({
                                height: 0
                            }, 1000, function(){
                                $(this).hide();
                            });
                            
                            $('#hov-page').animate({
                                opacity: 0
                            }, 500, function(){
                                $(this).hide();
                            });
                            break;
                        case 'faq':
                            break;
                        default:
                            break;
                    }
                },
                turnToChannel: function(target){
                    switch(target){
                        case 'postAR':
                            $('#view-remote').show().animate({
                                opacity: 1.0
                            }, 1000);
                            
                            $('#camera-overlay').show().animate({
                                height: '100%'
                            }, 1000, function(){
                                var video = document.getElementById('video');
                                if(sessionManager.application.streamStarted){
                                    video.play();
                                    console.log('stream started...');
                                }
                                else{       
                                    var videoSelect = document.querySelector('select#videoSource');
                                    // Get access to the camera!
                                    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                                        // Not adding `{ audio: true }` since we only want video now
                                       navigator.mediaDevices.enumerateDevices().then(gotDevices).then(getStream).catch(handleError);

                                        videoSelect.onchange = getStream;
                                        /*

                                        navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
                                            //video.src = window.URL.createObjectURL(stream);
                                            video.srcObject = stream;
                                            video.play();
                                        });

                                        */
                                    }
                                }
                                console.log('TODO: (1)(2); (3) add backend functionality');
                            });
                            break;
                        case 'cARd':
                            $('#view-remote').show().animate({
                                opacity: 1.0
                            }, 1000);
                            
                            $('#camera-overlay').show().animate({
                                height: '100%'
                            }, 1000, function(){
                                $('#camera-overlay-dashboard').animate({
                                    opacity: 0
                                }, 250, function(){
                                    $(this).hide();
                                });
                                var video = document.getElementById('video');
                                if(sessionManager.application.streamStarted){
                                    video.play();
                                    console.log('stream started...');
                                }
                                else{       
                                    var videoSelect = document.querySelector('select#videoSource');
                                    // Get access to the camera!
                                    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                                        // Not adding `{ audio: true }` since we only want video now
                                       navigator.mediaDevices.enumerateDevices().then(gotDevices).then(getStream).catch(handleError);

                                        videoSelect.onchange = getStream;
                                        /*

                                        navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
                                            //video.src = window.URL.createObjectURL(stream);
                                            video.srcObject = stream;
                                            video.play();
                                        });

                                        */
                                    }
                                }
                                console.log('TODO: (1); (2) AR experience; (3) add hand interactivity');
                            });
                            break;
                        case 'pARk':
                            $('#view-remote').show().animate({
                                opacity: 1.0
                            }, 1000);
                            
                             $('#media-overlay').show().animate({
                                height: '100%'
                            }, 1000);
                            
                            $('.media-page:not(#pARk-page)').hide();
                            
                            $('#pARk-page').show().animate({
                                opacity: 1.0
                            }, 500);
                            
                            console.log('TODO: (1) reveal camera; (2) show AR map of network');
                            break;
                        case 'share':
                            $('#view-remote').show().animate({
                                opacity: 1.0
                            }, 1000);
                            
                             $('#media-overlay').show().animate({
                                height: '100%'
                            }, 1000);
                            
                            $('.media-page:not(#share-page)').hide();
                            
                            $('#share-page').show().animate({
                                opacity: 1.0
                            }, 500);
                            console.log('TODO: (1) reveal camera; (2) show AR icons in menu (3) add backend functionality and toggle feature');
                            break;
                        case 'hov':
                            $('#view-remote').show().animate({
                                opacity: 1.0
                            }, 1000);
                            
                             $('#media-overlay').show().animate({
                                height: '100%'
                            }, 1000);
                            
                            $('.media-page:not(#hov-page)').hide();
                            
                            $('#hov-page').show().animate({
                                opacity: 1.0
                            }, 500);
                            
                            console.log('TODO: (1) reveal camera; (2) show AR icons in menu (3) add backend functionality and toggle feature');
                            break;
                        case 'faq':
                            console.log('TODO: (1) reveal camera; (2) show AR icons in menu (3) add backend functionality and toggle feature');
                            break;
                        default:
                            console.log('not a recognized channel target.');
                            break;
                    }
                }
            }
            $('.link-button').click(function(){
                var id = $(this).attr('id');
                id = id.substring(0, id.indexOf('-'));
                sessionManager.application.page = id;
                //console.log(id);
                tv.turnToChannel(id);
                
            });
            
            $('#view-remote').click(function(){
                tv.viewRemote();
            });
            
            var currentStoreItem = null;
                        
            var currentMoreSection = null;
            
      
        });
    </script>
</head>
<body>
    <input type='button' value='x' id='view-remote' />
    <div id='media-overlay'>
        <div id='pARk-page' class='media-page'>
            <div id='clock-container'>08:23</div>
            <div id='location-name-container'>College Park</div>
            <div id='page-content-container'>
                <div id='green-metro-line-container'>
                    <div class='metro-station-marker'></div>
                </div>
                <input id='browse-pARk-button' class='browse-button' type='button' value='browse pARk' />
                <input id='explore-community-button' class='browse-button' type='button' value='explore @dmv' />
                <div id='pARk-map' class='map-container'>
                    
                </div>
                <div id='community-map' class='map-container'>
                
                </div>
            </div>
        </div>
        <div id='share-page' class='media-page'>
            <div id='share-options-container'>
                <div id='share-options-title'>share</div>
                <input id='email-share-button' class='share-button' type='button' value='' />
                <input id='twitter-share-button' class='share-button' type='button' value='' />
                <input id='instagram-share-button' class='share-button' type='button' value='' />
                <input id='medium-share-button' class='share-button' type='button' value='' />
                <input id='pARk-share-button' class='share-button' type='button' value='' />
            </div>
        </div>
        <div id='hov-page' class='media-page'>
            <div id='additional-options-container'>
                <div id='additional-options-title'>
                    Our House
                </div>
                <input id='view-mission-button' class='additional-option-button' type='button' value='mission'/>
                <input id='view-roster-button' class='additional-option-button' type='button' value='roster'/>
                <input id='view-docs-button' class='additional-option-button' type='button' value='docs'/>
            </div>
        </div>
        <div id='faq-page' class='media-page'>
            
        </div>
    </div>
    <div id='camera-overlay'>
        <video id="video" autoplay></video>
        <div id='camera-overlay-dashboard'>
            <select id='videoSource'>
            </select>
            <input type='button' id='landmark-oriented-experience-button' class='experience-type-button' value=''/>
            <input type='button' id='face-oriented-experience-button' class='experience-type-button' value=''/>
            <input type='button' id='hand-oriented-experience-button' class='experience-type-button' value=''/>
        </div>
    </div>
    <div id='remote-overlay'>
        <div id='loading-title' class='loaders'>loading...</div>
        <div id='loading-bar-container' class='loaders'>
            <div id='loading-bar' class='loaders'></div>
            <div id='ready-label' class='loaders'>done!</div>
        </div>
        <div id='wall'>
            <div id='wall-header-container'>
                <div id='wall-title'>House of Venus</div><div id='version-number'> v. 0.2.3</div>
            </div>
            <div id='wall-content-container'>
                <div id='navigation-container'>
                        <input id='postAR-link' value='' type='button' class='link-button'/>
                        <input id='cARd-link' value='' type='button' class='link-button'/>
                        <input id='pARk-link' value='' type='button' class='link-button'/>
                        <input id='share-link' value='' class='link-button' type='button'/>
                        <input id='hov-link' value='' type='button' class='link-button'/>
                        <input id='faq-link' value='' class='link-button' type='button'/>
                </div>
            </div>
        </div>
    </div>
    <div id='main-app-container' class='anticipating'>   
        <div id='main-title-wrapper'>
            <div id='instruction-top-line' class='entry-instruction'>tap anywhere</div>
            <div id='main-title'>c<span class='acronym-trim'>reative</span> A<span class='acronym-trim'>ugmented</span> R<span class='acronym-trim'>eality</span> d<span class='acronym-trim'>esktop</span></div>
            <div id='instruction-bottom-line' class='entry-instruction'>to access</div>
        </div>
        <div id='date-label'>Day. Month Date</div>
        <div id='year-label'>Year</div>
        <span id='site-title-header'>the House of Venus presents</span>
        <div id='footer'>
            <input type='button' id='menu-button' class='footer-button' value='+'/>
            <input type='button' id='ar-option-button' class='footer-button menu-option' value='ar'/>
            <input type='button' id='vr-option-button' class='footer-button menu-option' value='vr'/>
            <input type='button' id='flat-option-button' class='footer-button menu-option selected-option' value='flat'/>
            <input type='button' id='help-button' class='footer-button' value='?'/>
        </div>
    </div>
</body>
</html>