<!DOCTYPE html>
<html>
<head>
    <meta charset='utf=8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>rooms v. 0.9.1</title>
    <link rel='stylesheet' type='text/css' href='../css/roomsapp/main.css' />
    <link rel='stylesheet' type='text/css' href='../css/roomsapp/form.css' />
    <script src='../js/threex-arpatternfile.js'></script>
    <script src='../js/jquery-3.2.1.min.js'></script>
    <script src='../js/Eye.js'></script>
    <script src='../js/main.js'></script>
</head>
<body>
    <!--<iframe id='experience-container' src=''></iframe> commented out as of v. 0.10.0, last version to use was 0.9.1; corresponding lines in main.js 148 - 155 also commented out-->
    <div id='camera-container'>
        <input id='hov-home-button' type='button' value=''/>
        <select id='videoSource'>
        </select>
        <div id='rooms-title'>
            rooms v. 0.9.1
        </div>
        <div id='final-overlay'> <!-- z: 100 -->
            <div id='internet-sharing-options-container'>
                <input id='mavnet-option-button' class='internet-sharing-option' value='MAV' type='button'/>
                <input id='www-option-button' class='internet-sharing-option' value='www' type='button'/>
            </div>
            <div id='experience-url-form-container'>
                <span id='user-entry-intro'>Store your room at:</span> 
                <div id='experience-url-form'>
                    <span id='user-entry-label'>hov.fun/</span>
                    <input id='user-url-entry' type='text' placeholder='your-room-name' />
                </div>
                <input type='button' value='go' id='submit-user-url' />
            </div>
        </div>
        <div id='settings-overlay'>
            <div id='add-item-menu' class='menu-container'>
                <div id='add-item-menu-title' class='menu-title'>Add/Edit Object</div>
                <input id='model-name' class='input-data-field' type='text' placeholder='object name' />
                <input id='model-source' class='input-data-field' placeholder='source, e.g. "../media/models/model.obj"' />
                <input id='model-rotation-value' class='input-data-field' placeholder='rotation value, e.g. "0 90 0"' />
                <input id='model-scale-value' class='input-data-field' placeholder='scale value, e.g. "1 1 1"' />
        
                <div id='add-item-menu-options-container' class='options-container'>
                    <input id='add-menu-child-element' class='item-menu-option' type='button' value='add' />
                    <input id='remove-menu-child-element' class='item-menu-option' type='button' value='remove' />
                    <input id='cancel-menu-edit' class='item-menu-option' type='button' value='cancel' />
                </div>
            </div>
            <div id='manage-settings-menu' class='menu-container'>
                <div id='manage-settings-menu-title' class='menu-title'>Manage Settings</div>
                <div class='filler-text'>settings will be available soon</div>

                <div id='manage-settings-menu-options-container' class='options-container'>
                    <input id='save-settings-button' class='item-menu-option-large' type='button' value='save' />
                    <input id='cancel-settings-update-button' class='item-menu-option-large' type='button' value='cancel' />
                </div>
            </div>
            <div id='edit-code-menu' class='menu-container'>
                <div id='edit-code-menu-title' class='menu-title'>Edit Code</div>
                <select id='code-view-option' value='code view'>
                    <option id='main-code-view' value='main'>main</option>
                    <option id='pattern-code-view' value='pattern'>pattern</option>
                </select>
                <div class='filler-text'>settings will be available soon</div>

                <div id='edit-code-menu-options-container' class='options-container'>
                    <input id='save-code-button' class='item-menu-option-large' type='button' value='save' />
                    <input id='cancel-code-edit-update-button' class='item-menu-option-large' type='button' value='cancel' />
                </div>
            </div>
        </div>
        <video id="video" autoplay></video>
        <div id='footer-overlay-container' class='overlay-container'><!-- z: 25-->
            <input type='button' id='take-marker-photo-button' class='marker-capture-button' value=''/>
            
            <input type='button' id='return-to-camera-button' class='marker-decision-button generation-step-button' value='<' />
            <input type='button' id='save-marker-button' class='marker-decision-button generation-step-button' value='>' />
            
            <input type='button' id='share-build-button' class='build-scene-button' value='...'/>
        </div>
        <div id='main-build-options-menu'><!-- z: 75-->
            <input id='ar-item-menu' class='build-scene-button' value='+' type='button' />
            <input id='setting-menu' class='build-scene-button' value='*' type='button'/>
            <input id='code-menu' class='build-scene-button' value='</>' type='button'/>
        </div>
        <div id='canvas-container'><!-- z: -50 | 50 -->
            <canvas id="canvas" width="250" height="250"></canvas>
            <div id='imageContainer'></div>
        </div>
    </div>
    <div id='download-container'>
            <input type='button' id='buttonDownloadEncoded' class='download-marker-button generation-step-button' value='[ ]'/>
            <div class='mdl-tooltip' for='buttonDownloadEncoded'>
                Download marker encoded from the uploaded image
            </div>
            <input type='button' id='buttonDownloadFullImage' class='download-marker-button generation-step-button'/>
            <div class='mdl-tooltip' for='buttonDownloadFullImage'>
                Download marker image
            </div>
        </div>
</body>
</html>